In [2]:
# !pip install happybase
import happybase

##### Get IPAddress in Docker

In [4]:
# Docker Shell
    # docker ps
    # docker inspect \  -f '{{range.NetworkSettings.Networks}}{{.IPAddress}}{{end}}' xxxxxxxxxx

# Hbase Shell
    # hbase shell
    # status

In [50]:
with open('config.json', 'r') as config_file:
    config_dict = json.load(config_file)

hbase_ip = config_dict['hbase_ip']
connection = Connection(host=hbase_ip, port=9090)

#### Hbase Connection

In [51]:
connection = Connection(host=hbase_ip, port=9090, timeout=10000)

#### Database Creation

In [7]:
table_schema = {'address': {}, 'order': {}}
connection.create_table('customer', table_schema)

In [18]:
tables = connection.tables()
print("List of tables in HBase:")
for table in tables:
    print(table)

List of tables in HBase:
b'customer'

In [19]:
table = Table('customer', connection)

# Add a client to the table
client_id = '1'
table.put(client_id, {'address:city': 'Paris', 'address:state': 'France', 'address:street': 'Bailly'})
table.put(client_id, {'order:number': 'ORD-15', 'order:amount': '15'})

In [20]:
# Scan the table and print the results
for row in table.scan():
    print("Row key:", row[0])
    print("Columns:")
    for column, value in row[1].items():
        print("  ", column, "=", value.decode())
    print()

Row key: b'1'
Columns:
   b'address:city' = Paris
   b'address:state' = France
   b'address:street' = Bailly
   b'order:amount' = 15
   b'order:number' = ORD-15

In [25]:
# Add a second client to the table
client_id = '2'
table.put(client_id, {'address:city': 'Nancy', 'address:state': 'France', 'address:street': 'Belfort'})
table.put(client_id, {'order:number': 'ORD-16', 'order:amount': '15'})

In [39]:
# Scan the table and print the results
for row in table.scan():
    print("Row key:", row[0])
    print("Columns:")
    for column, value in row[1].items():
        print("  ", column, "=", value.decode())
    print()

Row key: b'1'
Columns:
   b'address:city' = Paris
   b'address:state' = France
   b'address:street' = Bailly
   b'order:amount' = 15
   b'order:number' = ORD-15

Row key: b'2'
Columns:
   b'address:city' = Nancy
   b'address:state' = France
   b'address:street' = Belfort
   b'order:amount' = 15
   b'order:number' = ORD-16

In [44]:
# Retrieve the row with row key '1'
row_key = '1'
row = table.row(row_key)
print("Row key:", row_key)
print("Columns:")
for column, value in row.items():
    print("  ", column, "=", value.decode())

Row key: 1
Columns:
   b'address:city' = Paris
   b'address:state' = France
   b'address:street' = Bailly
   b'order:amount' = 15
   b'order:number' = ORD-15

***get and scan*** are two different methods in HBase to retrieve data from a table.

- The result of get is a dictionary that maps column names to their values.
- The result of scan is a list of dictionaries, where each dictionary represents a row and maps column names to their values.

In [54]:
# To count the number of rows
num_rows = 0
for row in table.scan():
    num_rows += 1

print("Number of clients in customer table:", num_rows)

Number of clients in customer table: 2